{% extends 'bootstrap/base.html' %}
{% include 'navigation.html' %}
{% import "macros.html" as macro %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{%block content%}

<div class="container" style="display: flex;flex-direction:column">
    <div class="col-md-12 card" style="justify-content: center;align-items:center;">
        <div class="container-fluid" style="background-color: lightblue;min-height:fit-content;text-align:center;margin-bottom:20px;">
            <div class="row"><h3>{{quote.quote}}</h3></div>
            <div class="row">{{quote.author}}</div>
        </div>
       
        <a href="{{url_for('auth.addpost')}}"><button>Add Post</button></a>
        <div class="container">
            {{macro.displayPosts(posts)}}
        </div>
    </div> 
    
</div>
{%endblock%}